<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>
</head>
<body>
<div class="user container">
    <div>
        <div th:each="user : ${users}">
            <table border="1" bordercolor="red">
                <tr>
                    <td th:text="${user.id}">id</td>
                    <td th:text="${user.firstName}">firstname</td>
                    <td th:text="${user.lastName}">lastname</td>
                    <td th:text="${user.email}">email</td>
                </tr>
                </table>
        </div>
    </div>
</div>

</body>
</html>